service: confessions-api

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs14.x
  region: eu-west-1
  profile: default
  stackName: confessions-api-stack
  memorySize: 512
  versionFunctions: false



  httpApi:
    # Enable CORS HTTP headers with default settings (allow all)
    # Can be fine-tuned with specific options
    cors: true


  # Default timeout for functions (default: 6 seconds)
  # Note: API Gateway has a maximum timeout of 30 seconds
#  timeout: 10
  # Function environment variables
#  environment:
#    APP_ENV_VARIABLE: FOOBAR
  # Duration for CloudWatch log retention (default: forever)
#  logRetentionInDays: 14
  # KMS key ARN to use for encryption for all functions
#  kmsKeyArn: arn:aws:kms:us-east-1:XXXXXX:key/some-hash
  # Version of hashing algorithm used by Serverless Framework for function packaging
#  lambdaHashingVersion: 20201221
  # Use function versioning (enabled by default)
  # Processor architecture: 'x86_64' or 'arm64' via Graviton2 (default: x86_64)
#  architecture: x86_64

functions:
  main:
    handler: dist/main.handler
    events:
      - http:
          method: ANY
          path: /
      - http:
          method: ANY
          path: '{proxy+}'

custom:
  serverless-offline:
    httpPort: 4000
    noPrependStageInUrl: true

package:
  exclude:
    - node_modules/**
    - .git/**
